
MusicTheoryTutor.xcodeproj/project.xcworkspace/xcuserdata/Katarn.xcuserdatad/UserInterfaceState.xcuserstate

MusicTheoryTutor.xcodeproj/xcuserdata/Katarn.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

MusicTheoryTutor.xcodeproj/xcuserdata/Katarn.xcuserdatad/xcschemes/MusicTheoryTutor.xcscheme

MusicTheoryTutor.xcodeproj/xcuserdata/Katarn.xcuserdatad/xcschemes/xcschememanagement.plist
